* {
padding: 0;
margin: 0;

}

body {

font-family: 'Supermercado One', sans-serif;
background-color: #FBFFFE;
color: #001514;
}

.container {

    border: 1px solid black;
    width: 90%;
    margin: auto;   
    display: flex;
}

.groceries  {

border: 1px solid black;


}