* {
padding: 0;
margin: 0;

}

body {

font-family: 'Roboto', sans-serif;
/* background: ; */
color: #001514;

}

.container {

    border: 1px solid black;
    width: 90%;
    margin: auto;   
    display: flex;
    background: #E6AF2E;
}

.groceries  {

border: 1px solid black;
width: 600px;
min-height: 100vh;
/* as the list grows, the container will grow also */
margin: auto;
background: #FBFFFE;
box-shadow: 10px 10px 24px 0 rgba(0, 0, 0, 0.55);
}

.groceries h1 {

font-size: 2.5rem;
margin-top: 1em;
}

groceries i {
    font-size: 2rem;
   color: #E6AF2E;
   margin-top: 1em;
}

.groceries input{

    font-family: inherit;
    outline: 0;
    border: 0;
    border-bottom: 3px solid black;
    width: 70%;
    font-size: 1.5rem;
}